<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageList</key>
		<array>
			<string>nz1.jpg</string>
			<string>nz2.jpg</string>
			<string>nz3.jpg</string>
		</array>
	</dict>
	<dict>
		<key>dressName</key>
		<string>鸿星尔克</string>
	</dict>
	<dict>
		<key>currentPrice</key>
		<string>400</string>
	</dict>
	<dict>
		<key>price</key>
		<string>900</string>
	</dict>
</array>
</plist>
